<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Enlaces</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtColumnSearchingOptions"
                        class="table table-striped row-border table-hover">
                        <tfoot>
                            <tr>
                                <th><input type="text" placeholder="Filtro Nombre" name="filtro-nombre"
                                        class="form-control" /></th>
                                <th><input type="text" placeholder="Filtro Descripción" name="filtro-descripcion"
                                        class="form-control" /></th>
                                <th><input type="text" placeholder="Filtro Ruta" name="filtro-ruta"
                                        class="form-control" /></th>
                                <th><input type="text" placeholder="Filtro Estado" name="filtro-estado"
                                        class="form-control" /></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="text-center mt-3">
                    <div class="d-flex justify-content-center gap-3">
                        <button type="button">
                            <span class="btn-nuevoEnlace" (click)="nuevoEnlace()">Nuevo Enlace</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
