<div class="row">
    <div class="col-sm-12">
        <div class="card card-header-sticky">
            <div class="card-header">
                <h4>Roles</h4>
                <hr>
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <app-breadcrumb></app-breadcrumb>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex">
                        <button type="button" (click)="nuevoRol()" class="btn-NuevoRol">
                            Nuevo Rol
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table [dtOptions]="dtColumnSearchingOptions" datatable class="table row-border">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let roles of rolesAP">
                                <td>
                                    {{ roles.nombreRole }}
                                </td>
                                <td>
                                    {{ roles.descripcionRole }}
                                </td>
                                <td>
                                    {{ getEstado(roles.estadoRole )}}
                                </td>
                                <td style="text-align: center; width: 10%;">
                                    <div class="d-flex flex-wrap gap-2">
                                        <imput type="button"
                                            class="btn btn-icon btn-outline-primary d-inline-flex btnEdit"
                                            (click)="editarRol(roles.roleId)" title="Modificar Rol">
                                            <i class="feather icon-edit"></i>
                                        </imput>
                                        <imput type="button"
                                            class="btn btn-icon btn-outline-danger d-inline-flex btnDelet"
                                            (click)="eliminarRol(roles.roleId, roles.nombreRole)"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar Rol">
                                            <i class="feather icon-trash-2"></i>
                                        </imput>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input #nombreRole (keyup)="filtrarColumna(0, nombreRole.value)" type="text"
                                        placeholder="Filtro Nombre" name="filtro-nombre" class="form-control">
                                </th>
                                <th>
                                    <input #descripcionRole (keyup)="filtrarColumna(1, descripcionRole.value)"
                                        type="text" placeholder="Filtro descripción" name="filtro-nombre"
                                        class="form-control">
                                </th>
                                <th>
                                    <input #estadoRole (keyup)="filtrarColumna(2, estadoRole.value)" type="text"
                                        placeholder="Filtro Estado" name="filtro-estado" class="form-control">
                                </th>
                                <th>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
