<app-card cardTitle="Administración de Contenidos" class="sticky-card">
    <div class="justify-content-end d-flex gap-3">
        <button type="button">
            <span class="btn-NuevoSitio" (click)="save(validationForm)">Insertar<i
                    class="feather icon-plus ms-2"></i></span>
        </button>
        <button type="button">
            <span class="btn-NuevoSitio" (click)="regresarContenido()">Regresar<i
                    class="feather icon-arrow-left ms-2"></i></span>
        </button>
    </div>
</app-card>
<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="">
        <div class="card-header">
            <h3>Nuevo Contenido</h3>
        </div>
        <form #validationForm="ngForm" class="editForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label" for="nombre">Nombre</label>
                <input
                  class="form-control input-md"
                  id="nombre"
                  name="nombre"
                  type="text"
                  placeholder="nombre del contenido"
                  [ngClass]="{
                    'is-invalid': !nombre.valid && (nombre.dirty || nombre.touched || isSubmit)
                  }"
                  #nombre="ngModel"
                  required
                  nombre
                  [(ngModel)]="FormContenido.nombre"
                />
                @if (!nombre.valid && (nombre.dirty || nombre.touched || isSubmit)) {
                  <label id="validation-nombre-error" class="error jquery-validation-error small form-text invalid-feedback"
                    >Por favor, ingrese un nombre. Este campo es obligatorio.</label
                  >
                }
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Estado</label>
                  <select
                    class="form-control"
                    title="select"
                    name="validation-estado"
                    [ngClass]="{
                      'is-invalid': !estado.valid && (estado.dirty || estado.touched || isSubmit)
                    }"
                    #estado="ngModel"
                    required
                    [(ngModel)]="FormContenido.estado"
                  >
                    <option value>--Seleccione estado--</option>
                      <option value="pitons">True</option>
                      <option value="pitons">False</option>
                  </select>
                  @if (!estado.valid && (estado.dirty || estado.touched || isSubmit)) {
                    <label id="validation-estado-error" class="error jquery-validation-error small form-text invalid-feedback"
                      >La selección del estado es obligatoria.</label>
                  }
                </div>
              </div>
            <div class="col-md-12">
                <div class="form-group">
                  <label class="form-label">Descripción</label>
                  <textarea
                    class="form-control"
                    placeholder="Descripcion del contenido"
                    name="validation-descripcion"
                    [ngClass]="{
                      'is-invalid': !descripcion.valid && (descripcion.dirty || descripcion.touched || isSubmit)
                    }"
                    #descripcion="ngModel"
                    required
                    [(ngModel)]="FormContenido.descripcion"
                  ></textarea>
                  @if (!descripcion.valid && (descripcion.dirty || descripcion.touched || isSubmit)) {
                    <label id="validation-descripcion-error" class="error jquery-validation-error small form-text invalid-feedback"
                      >Por favor, ingrese una descripción. Este campo es obligatorio.</label
                    >
                  }
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                  <label class="form-label">Contenido</label>
                  <textarea
                    class="form-control"
                    placeholder="contenido"
                    name="validation-contenido"
                    [ngClass]="{
                      'is-invalid': !contenido.valid && (contenido.dirty || contenido.touched || isSubmit)
                    }"
                    #contenido="ngModel"
                    required
                    [(ngModel)]="FormContenido.contenido"
                  ></textarea>
                  @if (!contenido.valid && (contenido.dirty || contenido.touched || isSubmit)) {
                    <label id="validation-descripcion-error" class="error jquery-validation-error small form-text invalid-feedback"
                      >Por favor, ingrese un contenido. Este campo es obligatorio.</label
                    >
                  }
                </div>
            </div>
          </div>
        </form>
      </app-card>
    </div>
  </div>
