<div class="row">
    <div class="col-sm-12">
        <div class="card card-header-sticky">
            <div class="card-header">
                <h5>Administración de Licencias</h5>
                <hr>
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <app-breadcrumb></app-breadcrumb>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex gap-3">
                        <button type="button" class="btn-NuevoLicencia" (click)="btnInsertEditLicencia(validationForm)">
                            {{ modoEdicion ? 'Modificar' : 'Insertar' }}
                            <i class="feather ms-2" [ngClass]="modoEdicion ? 'icon-edit' : 'icon-plus'"></i>
                        </button>
                        <button type="button" class="btn-NuevoLicencia" (click)="btnRegresarLicencia()">
                            Regresar
                            <i class="feather icon-arrow-left ms-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4>Nueva Licencia</h4>
            </div>
            <div class="card-body">
                <form #validationForm="ngForm" class="editForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="nombreLicencia">nombre</label>
                                <input class="form-control input-md" id="nombreLicencia" name="nombreLicencia" type="text"
                                    placeholder="nombre de la Licencia"
                                    [ngClass]="{'is-invalid': !nombreLicencia.valid && (nombreLicencia.dirty || nombreLicencia.touched || isSubmit)}"
                                    #nombreLicencia="ngModel" required [(ngModel)]="FormLicencia.nombreLicencia" />
                                <label
                                    *ngIf="!nombreLicencia.valid && (nombreLicencia.dirty || nombreLicencia.touched || isSubmit)"
                                    class="error jquery-validation-error small form-text invalid-feedback">
                                    Por favor, Ingrese un nombre. Este campo es obligatorio.
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Estado</label>
                                <div class="radio-buttons">
                                    <label class="radio-button">
                                        <input name="option" type="radio" [value]="true"
                                            [(ngModel)]="FormLicencia.estadoLicencia">
                                        <div class="radio-circle"></div>
                                        <label class="radio-label">Activo</label>
                                    </label>
                                    <label class="radio-button">
                                        <input name="option" type="radio" [value]="false"
                                            [(ngModel)]="FormLicencia.estadoLicencia">
                                        <div class="radio-circle"></div>
                                        <label class="radio-label">Inactivo</label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Fecha Creación</label>
                                <input type="text" class="form-control" name="fechaCreacion" placeholder="Fecha Cración"
                                    [ngClass]="{'is-invalid': !fechaCreacion.valid && (fechaCreacion.dirty || fechaCreacion.touched || isSubmit) }"
                                    #fechaCreacion="ngModel" required [(ngModel)]="FormLicencia.fechaCreacion" />
                                <label *ngIf="!fechaCreacion.valid && (fechaCreacion.dirty || fechaCreacion.touched || isSubmit)"
                                    class="error jquery-validation-error small form-text invalid-feedback">
                                    Por favor, ingrese una fecha. Este campo es obligatorio.
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="fechaVencimiento">Fecha Vencimiento</label>
                                <input class="form-control input-md" id="fechaVencimiento" name="fechaVencimiento" type="text"
                                    placeholder="Fecha Vencimiento"
                                    [ngClass]="{'is-invalid': !fechaVencimiento.valid && (fechaVencimiento.dirty || fechaVencimiento.touched || isSubmit)}"
                                    #fechaVencimiento="ngModel" required [(ngModel)]="FormLicencia.fechaVencimiento" />
                                <label
                                    *ngIf="!fechaVencimiento.valid && (fechaVencimiento.dirty || fechaVencimiento.touched || isSubmit)"
                                    class="error jquery-validation-error small form-text invalid-feedback">
                                    Por favor, Ingrese la Fecha. Este campo es obligatorio.
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Descripción</label>
                                <textarea class="form-control" placeholder="Descripcion de la Licencia"
                                    name="descripcionLicencia"
                                    [ngClass]="{'is-invalid': !descripcionLicencia.valid && (descripcionLicencia.dirty || descripcionLicencia.touched || isSubmit)}"
                                    #descripcionLicencia="ngModel" required [(ngModel)]="FormLicencia.descripcionLicencia"
                                    rows="5">
                                </textarea>
                                <label
                                    *ngIf="!descripcionLicencia.valid && (descripcionLicencia.dirty || descripcionLicencia.touched || isSubmit)"
                                    class="error jquery-validation-error small form-text invalid-feedback">
                                    Por favor, ingrese una descripción. Este campo es obligatorio.
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
