.btn-NuevoSitio {
    background: #c9d0d5;
    color: #3b4650;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    min-width: 100px;
    transition: all 0.3s;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-NuevoSitio:hover {
    background-color: #034ba6;
    color: #c9d0d5;
}

.btn-NuevoSitio:active {
    transform: scale(0.95);
}


.btnEdit {
    color: #c9d0d5;
}

.btnDelet {

    color: #c9d0d5;
}

.card-header-sticky {
    position: sticky;
    top: 80px;
    z-index: 100;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
