<app-card cardTitle="Filtros" class="sticky-card">
    <div class="d-flex justify-content-center flex-wrap gap-3" style="max-width: 80%; margin: 0 auto;">
            <tr>
                <th>
                    <input type="text" placeholder="Filtro Nombre" name="filtro-nombre" class="form-control" #nombreSitio (keyup)="filtrarColumna(0, nombreSitio.value)" />
                </th>
                <th>
                    <input type="text" placeholder="Filtro Descripción" name="filtro-descripcion"class="form-control" #descripcionSitio (keyup)="filtrarColumna(1, descripcionSitio.value)"/>
                </th>
                <th>
                    <input type="text" placeholder="Filtro URL" name="filtro-url" class="form-control" #urlSitio (keyup)="filtrarColumna(2, urlSitio.value)" />
                </th>
                <th>
                    <input type="text" placeholder="Filtro Puerto Sitio" name="filtro-sitio" class="form-control" #puertoSitio (keyup)="filtrarColumna(3, puertoSitio.value)"/>
                </th>
                <th>
                    <input type="text" placeholder="Filtro Estado" name="filtro-estado" class="form-control" #estadoSitio (keyup)="filtrarColumna(4, estadoSitio.value)"/>
                </th>
              </tr>
        </div>
</app-card>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Sitios</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtColumnSearchingOptions" class="table table-striped row-border table-hover">
                        <thead>
                          <!-- <tr>
                            <th>
                                <input type="text" placeholder="Filtro Nombre" name="filtro-nombre" class="form-control" #nombreSitio (keyup)="filtrarColumna(0, nombreSitio.value)" />
                            </th>
                            <th>
                                <input type="text" placeholder="Filtro Descripción" name="filtro-descripcion"class="form-control" #descripcionSitio (keyup)="filtrarColumna(1, descripcionSitio.value)"/>
                            </th>
                            <th>
                                <input type="text" placeholder="Filtro URL" name="filtro-url" class="form-control" #urlSitio (keyup)="filtrarColumna(2, urlSitio.value)" />
                            </th>
                            <th>
                                <input type="text" placeholder="Filtro Puerto Sitio" name="filtro-sitio" class="form-control" #puertoSitio (keyup)="filtrarColumna(3, puertoSitio.value)"/>
                            </th>
                            <th>
                                <input type="text" placeholder="Filtro Estado" name="filtro-estado" class="form-control" #estadoSitio (keyup)="filtrarColumna(4, estadoSitio.value)"/>
                            </th>
                          </tr> -->
                          <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>URL</th>
                            <th>Puerto Sitio</th>
                            <th>Estado</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let sitio of sitiosAP">
                            <td>{{ sitio.nombreSitio }}</td>
                            <td>{{ sitio.descripcionSitio }}</td>
                            <td>{{ sitio.urlSitio }}</td>
                            <td>{{ sitio.puertoSitio }}</td>
                            <td>{{ getEstado(sitio.estadoSitio)}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="text-center mt-3">
                    <div class="d-flex justify-content-center gap-3">
                        <button type="button">
                            <span class="btn-NuevoSitio" (click)="nuevoSitio()">Nuevo Sitio</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
