<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Contenidos</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtColumnSearchingOptions"
                        class="table table-striped row-border table-hover">
                        <tfoot>
                            <tr>
                                <th><input type="text" placeholder="Filtro Nombre" name="Filtro-nombre"
                                        class="form-control" /></th>
                                <th><input type="text" placeholder="Filtro Descripción" name="Filtro-descripcion"
                                        class="form-control" /></th>
                                <th><input type="text" placeholder="Filtro Contenido" name="Filtro-contenido"
                                        class="form-control" /></th>
                                <th><input type="text" placeholder="Filtro Estado" name="Filtro-estado"
                                        class="form-control" /></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="text-center mt-3">
                    <div class="d-flex justify-content-center gap-3">
                        <button type="button">
                            <span class="btn-nuevoContenido" (click)="nuevoContenido()">Nuevo Contenido</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
