<div class="row">
	<div class="col-sm-12">
        <div class="card card-header-sticky">
			<div class="card-header">
				<h4>Aplicaciones</h4>
                <hr>
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <app-breadcrumb></app-breadcrumb>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex">
                        <button type="button" (click)="nuevoSitio()" class="btn-NuevoSitio">
                            Nueva Aplicación
                        </button>
                    </div>
                </div>
            </div>
        </div>
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table [dtOptions]="dtColumnSearchingOptions" datatable class="table row-border">
						<thead>
                            <tr>
								<th>Código</th>
								<th>Nombre</th>
								<th>Descripción</th>
								<th>Estado</th>
								<th>Opciones</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let sitio of aplicaciones">
								<td>
									{{ sitio.codigoAplicacion }}
								</td>
								<td>
									{{ sitio.nombreAplicacion }}
								</td>
								<td>
									{{ sitio.descripcionAplicacion }}
								</td>

								<td>
									{{ getEstado(sitio.estadoAplicacion)}}
								</td>
								<td style="text-align: center; width: 10%;">
									<div class="d-flex flex-wrap gap-2">
										<imput type="button" class="btn btn-icon btn-outline-primary d-inline-flex btnEdit"
                                            (click)="editarSitio(sitio.sitioId)" title="Modificar sitio">
											<i class="feather icon-edit"></i>
										</imput>
										<imput type="button" class="btn btn-icon btn-outline-danger d-inline-flex btnDelet"
                                            (click)="eliminarSitio(sitio.sitioId, sitio.nombreSitio)" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar Sitio">
											<i class="feather icon-trash-2"></i>
										</imput>
									</div>
								</td>
							</tr>
						</tbody>
                        <tfoot>
							<tr>
								<th>
									<input #codigoAplicacion
										(keyup)="filtrarColumna(0, codigoAplicacion.value)"
										type="text"
										placeholder="Filtro Código"
										name="filtro-url"
										class="form-control">
								</th>
								<th>
                                    <input #nombreAplicacion
                                        (keyup)="filtrarColumna(1, nombreAplicacion.value)"
                                        type="text"
                                        placeholder="Filtro Nombre"
                                        name="filtro-nombre"
                                        class="form-control">
                                </th>
								<th>
									<input #descripcionAplicacion
										(keyup)="filtrarColumna(2, descripcionAplicacion.value)"
										type="text"
										placeholder="Filtro descripción"
										name="filtro-nombre"
										class="form-control">
								</th>
								<th>
									<input #estadoAplicacion
										(keyup)="filtrarColumna(4, estadoAplicacion.value)"
										type="text"
										placeholder="Filtro Estado"
										name="filtro-estado"
										class="form-control">
								</th>
                                <th>
                                </th>
							</tr>
                        </tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

