<app-card cardTitle="Administración de Sitios" class="sticky-card">
    <hr/>
        <div class="justify-content-end d-flex gap-3">
            <button type="button">
                <span class="btn-NuevoSitio" (click)="btnInsertEditSitios(validationForm)">
                    {{ modoEdicion ? 'Modificar' : 'Insertar' }}
                    <i class="feather ms-2" [ngClass]="modoEdicion ? 'icon-edit' : 'icon-plus'"></i>
                </span>
            </button>
            <button type="button">
                <span class="btn-NuevoSitio" (click)="btnRegresarSitio()">
                    Regresar
                    <i class="feather icon-arrow-left ms-2"></i>
                </span>
            </button>
        </div>
</app-card>
<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="">
            <div class="card-header">
                <h3>Nuevo Sitio</h3>
            </div>
            <form #validationForm="ngForm" class="editForm" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="nombreSitio">nombre</label>
                            <input class="form-control input-md" id="nombreSitio" name="nombreSitio" type="text"
                                placeholder="nombre del sitio"
                                [ngClass]="{'is-invalid': !nombreSitio.valid && (nombreSitio.dirty || nombreSitio.touched || isSubmit)}"
                                #nombreSitio="ngModel"
                                required
                                [(ngModel)]="FormSitio.nombreSitio" />
                            <!-- @if (!nombreSitio.valid && (nombreSitio.dirty || nombreSitio.touched || isSubmit)) {
                            <label id="validation-nombreSitio-error"
                                class="error jquery-validation-error small form-text invalid-feedback">
                                Por favor, Ingrese un nombre. Este campo es obligatorio..</label>
                            } -->
                            <label *ngIf="!nombreSitio.valid && (nombreSitio.dirty || nombreSitio.touched || isSubmit)"
                            class="error jquery-validation-error small form-text invalid-feedback" >
                            Por favor, Ingrese un nombre. Este campo es obligatorio.
                          </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">URL</label>
                            <input type="text" class="form-control" name="urlSitio" placeholder="URL del sitio"
                                [ngClass]="{'is-invalid': !urlSitio.valid && (urlSitio.dirty || urlSitio.touched || isSubmit) }"
                                #urlSitio="ngModel"
                                required
                                [(ngModel)]="FormSitio.urlSitio"/>
                            <!-- @if (!urlSitio.valid && (urlSitio.dirty || urlSitio.touched || isSubmit)) {
                            <label id="validation-urlSitio-error"
                                class="error jquery-validation-error small form-text invalid-feedback">Por favor,
                                ingrese una URL válida, por ejemplo: www.plataformadym.com. Este campo es
                                obligatorio.</label>
                            } -->
                            <label *ngIf="!urlSitio.valid && (urlSitio.dirty || urlSitio.touched || isSubmit)"
                            class="error jquery-validation-error small form-text invalid-feedback" >
                            Por favor, ingrese una URL. Este campo es obligatorio.
                          </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="puertoSitio">Puerto Sitio</label>
                            <input class="form-control input-md" id="puertoSitio" name="puertoSitio" type="text"
                                placeholder="Puerto del sitio"
                                [ngClass]="{'is-invalid': !puertoSitio.valid && (puertoSitio.dirty || puertoSitio.touched || isSubmit)}"
                                #puertoSitio="ngModel"
                                required
                                [(ngModel)]="FormSitio.puertoSitio" />
                            <!-- @if (!puertoSitio.valid && (puertoSitio.dirty || puertoSitio.touched || isSubmit)) {
                            <label id="validation-puertoSitio-error"
                                class="error jquery-validation-error small form-text invalid-feedback">
                                Por favor, Ingrese el puerto del sitio. Este campo es obligatorio..</label>
                            } -->
                            <label *ngIf="!puertoSitio.valid && (puertoSitio.dirty || puertoSitio.touched || isSubmit)"
                            class="error jquery-validation-error small form-text invalid-feedback" >
                            Por favor, Ingrese el puerto del sitio. Este campo es obligatorio.
                          </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Estado</label>
                            <div class="radio-input">
                                <div class="radio-item">
                                    <input name="estadoSitio" type="radio" class="input" id="radio-true" [value]="true" [(ngModel)]="FormSitio.estadoSitio">
                                    <label for="radio-true">Activo</label>
                                </div>
                                <div class="radio-item">
                                    <input name="estadoSitio" type="radio" class="input" id="radio-false" [value]="false" [(ngModel)]="FormSitio.estadoSitio">
                                    <label for="radio-false">Inactivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-label">Descripción</label>
                          <textarea
                            class="form-control"
                            placeholder="Descripcion del sitio"
                            name="descripcionSitio"
                            [ngClass]="{'is-invalid': !descripcionSitio.valid && (descripcionSitio.dirty || descripcionSitio.touched || isSubmit)}"
                            #descripcionSitio="ngModel"
                            required
                            [(ngModel)]="FormSitio.descripcionSitio"
                            ></textarea>
                          <!-- @if (!descripcionSitio.valid && (descripcionSitio.dirty || descripcionSitio.touched || isSubmit)) {
                            <label id="validation-descripcionSitio-error" class="error jquery-validation-error small form-text invalid-feedback"
                              >Por favor, ingrese una descripción. Este campo es obligatorio.</label
                            >
                          } -->
                          <label *ngIf="!descripcionSitio.valid && (descripcionSitio.dirty || descripcionSitio.touched || isSubmit)"
                          class="error jquery-validation-error small form-text invalid-feedback" >
                          Por favor, ingrese una descripción. Este campo es obligatorio.
                        </label>
                        </div>
                    </div>
                </div>
            </form>
        </app-card>
    </div>
</div>
